body {
    margin: 0;
    background-color: black;
    color: white;
}

.main {
    margin: 0 auto;
    max-height: 100vh;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
}

canvas {
    image-rendering: pixelated;
    min-height: 0;
}

.bottom {
    display: flex;
    justify-content: space-between;
}

#touch-controls {
    display: none;
}

@media (pointer: coarse) {
  #touch-controls {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
  }
}

.dpad {
    display: flex;
}

.button {
    position: relative;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;

    /* Disable background image selection */
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -webkit-touch-callout: none; /* iOS Safari */
}
.button.pressed {
    background-position-x: -50px;
}

/* Make touch areas slightly larger and allow overlapping */
.button::after {
    content: "";
    position: absolute;
    inset: -10px;
}

#left {
    background-image: url('web-assets/button-left.png');
}
#right {
    background-image: url('web-assets/button-right.png');
}
#up {
    background-image: url('web-assets/button-up.png');
}
#action {
    background-image: url('web-assets/button-action.png');
}

#left, #right {
    height: 60px;
    margin-top: 5px;
}

#action {
    margin-top: 10px;
}
